body {
  background-image:url("../images/fondPixels.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  color : yellow;
  background-color:rgb(255,0,0,0.4);
  border-color: green;
}

footer {
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

section.centre {
  text-align: center;
}

.jaune {
  color: #f2f202;
}

.bit {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #f2f202;
  font-size: 19px;
}